[submodule "third_party/kenlm"]
	path = third_party/kenlm
	url = https://github.com/kpu/kenlm.git
[submodule "third_party/ThreadPool"]
	path = third_party/ThreadPool
	url = https://github.com/progschj/ThreadPool.git
[submodule "third_party/openfst-1.6.7-windows"]
	path = third_party/openfst-1.6.7-windows
	url = https://github.com/kkm000/openfst.git
[submodule "third_party/boost_1_67_0"]
	path = third_party/boost_1_67_0
	url = https://github.com/boostorg/boost.git
[submodule "third_party/openfst"]
	path = third_party/openfst
	url = https://github.com/mjansche/openfst.git
